.countdown {
  padding: 20px 0;
  overflow: hidden;
}
.countdown-stock {
  padding-top: 25px;
}
.countdown .number {
  width: 80px;
  height: 80px;
  line-height: 80px;
  border-radius: 50%;
  margin: 0 auto;
  font-size: 24px;
  color: #fff;
  font-weight: 700;
  font-family: 'Exo 2', sans-serif;
  text-align: center;
  margin-bottom: 10px;
  position: relative;
}
@media (min-width: 768px) {
  .countdown .number {
    width: 55px;
    height: 55px;
    line-height: 55px;
    font-size: 35px;
    margin-bottom: 20px;
  }
}
/*@media (min-width: 992px) {
  .countdown .number {
    width: 25px;
    height: 25px;
    line-height: 124px;
    font-size: 15px;
    margin-bottom: 20px;
  }
}*/
.countdown .number:before {
  content: "";
  display: block;
  position: absolute;
  border: 1px solid #836aa0;
  left: -3px;
  top: -3px;
  right: -3px;
  bottom: -3px;
  border-radius: 50%;
}
@media (min-width: 768px) {
  .countdown .number:before {
    left: -10px;
    top: -10px;
    right: -10px;
    bottom: -10px;
    border: 3px solid #836aa0;
  }
}
.countdown .desc {
  display: block;
  text-align: center;
  font-size: 15px;
  text-transform: uppercase;
  font-family: 'Exo 2', sans-serif;
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .countdown .desc {
    margin-bottom: 10px;
  }
}
@media (min-width: 992px) {
  .countdown .desc {
    margin-bottom: 10px;
  }
}
.countdown.countdown__color-circles .number:before {
  border: 1px solid #fff;
}
@media (min-width: 768px) {
  .countdown.countdown__color-circles .number:before {
    border: 3px solid #fff;
  }
}
.countdown.countdown__color-circles .days-count {
  background: #ffa76c;
}
.countdown.countdown__color-circles .hours-count {
  background: #ff7149;
}
.countdown.countdown__color-circles .mins-count {
  background: #ea582f;
}
.countdown.countdown__color-circles .secs-count {
  background: #d44546;
}
.countdown.countdown__sm {
  padding: 8px 0;
}
/*@media (min-width: 768px) {
  .countdown.countdown__sm .number {
    width: 120px;
    height: 120px;
    line-height: 120px;
    font-size: 48px;
    margin-bottom: 20px;
  }
}*/
/*@media (min-width: 992px) {
  .countdown.countdown__sm .number {
    width: 130px;
    height: 130px;
    line-height: 124px;
    font-size: 52px;
    margin-bottom: 20px;
  }
}*/
@media (min-width: 768px) {
  .countdown.countdown__sm .number:before {
    left: -6px;
    top: -6px;
    right: -6px;
    bottom: -6px;
    border-width: 2px;
  }
}